#BAMAR NAMESPACE

#gdata
importFrom(gdata, read.xls)

#XML
importFrom(XML, xmlTreeParse, xmlRoot, xmlAttrs, xmlValue)

#Tools
importFrom(tools,file_ext, list_files_with_exts)

#flowCore stuff
importMethodsFrom(flowCore, pData, exprs)
importClassesFrom(flowCore, flowFrame, flowSet)

# Import stuff from Biobase
importClassesFrom(Biobase,AnnotatedDataFrame)
importMethodsFrom(Biobase,pData,featureData,fData)

# Import from reshape2
# Melt is an S3 method


export("read.luminex", "read.Lxd", "read.Lxb", "BAMAsummarize")
exportMethods("show", "pData", "featureData", "exprs", "melt", "[")
exportClasses("BAMAset","BAMAsummary")
