#BAMAR NAMESPACE

#drc
importFrom(drc, drm, LL.5)

#gdata
importFrom(gdata, read.xls)

#XML
importFrom(XML, xmlTreeParse, xmlRoot, xmlAttrs, xmlValue)

#Tools
importFrom(tools,file_ext, list_files_with_exts)

#flowCore stuff
importMethodsFrom(flowCore, pData, exprs)
importClassesFrom(flowCore, flowFrame, flowSet)

# Import stuff from Biobase
importClassesFrom(Biobase,AnnotatedDataFrame)
importMethodsFrom(Biobase,pData,featureData,fData,"exprs<-")

# Import from reshape2
# Melt is an S3 method

#ggplot2
importFrom(ggplot2, ggplot, geom_point, geom_line, aes, facet_wrap, theme_bw, 
scale_x_log10, scale_y_log10)




######
######
export("read.luminex", "read.Lxd", "read.Lxb", "BAMAsummarize")
exportMethods("show", "pData", "featureData", "exprs", "fit",
	"melt", "[", "ggplot_sc", "geom_sc")
exportClasses("BAMAset","BAMAsummary")
