#Lumir NAMESPACE

#drc
importFrom(drc, drm, LL.5)

#gdata
importFrom(gdata, read.xls)

#stats
importFrom(stats, relevel)

#XML
importFrom(XML, xmlTreeParse, xmlRoot, xmlAttrs, xmlValue, xmlSApply, xmlSize, xmlName)

#Tools
importFrom(tools, file_ext, list_files_with_exts)

#multcomp
importFrom(multcomp, glht)

#flowCore stuff
importFrom(flowCore, read.FCS)
importMethodsFrom(flowCore, pData, exprs)
importClassesFrom(flowCore, flowFrame, flowSet)

# Import stuff from Biobase
importClassesFrom(Biobase,AnnotatedDataFrame)
importMethodsFrom(Biobase,pData,featureData,fData,"exprs<-")

# Import from reshape2
# Melt is an S3 method

#ggplot2
importFrom(ggplot2, ggplot, geom_point, geom_line, aes, facet_wrap, theme_bw, 
scale_x_log10, scale_y_log10)




######
######
exportMethods("show", "pData", "fData", "exprs", "fit", "melt", "[",
	"geom_sc")
exportClasses("blum","bsum")
export("read.experiment", "BAMAsummarize")
